.flight_search_container {
    background-image: url("/src/images/pexels-porapak-apichodilok-346885.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}