.flight_card_container {
    /* padding: 50px; */
    width: 80%;
    /* border: 1px solid black; */
    display: block;
    /* margin: 15px; */
    /* margin-top: 15px; */
    background-color: #f4f8fc;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
}

#game-tab-overlay {
    position: relative; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1); /* Black background with opacity */
    border-radius: 9px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.logo_thumbnail{
    width:50px;
    height: 50px;
    padding-left: 10px;
}
.carriers_logo_container{
    display: flex;
    flex-direction: column;

}

.flights_details_container{
    display: flex;
    flex-direction: column;
}
.flight_time{
    font-size: 25px;
}
.flight_airport{
    font-size: 12px;
}
.flight_time_airport_container{
    display: flex;
    flex-direction: column;
}
.flights_time_container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width:80%;
}
.flights_details_container{
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
}
.flight_card_container{
    display: flex;
}

.price_Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    height: 100%;
}

.price{
    padding-top: 25px;
}
/* 
.bet-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-bet {
    margin-right: 10px;
    width: 100px;
}

#right-bet {
    width: 100px;
}

#bet-button {
    padding: 10px 30px 10px 30px;
}

.bet-button {
    transition-duration: 0.4s;
}
   */