.deck_componenet{
    height: 100%;
    width: 400px;
    background-color: lightblue;
    margin: 0 auto;
    border-radius: 15px;
    opacity: 0.9;
}

.deck_container{
    text-align: center;
}

.row-letter{
    display: flex;
    width: 50%;
    justify-content:center;
}

.row-letter-container{
    display: flex;
    flex-direction: row;
}

.seat_letter{
    margin: 10px;
}