.seats_info_components{
 
}

.seats_info_container{
    text-align: center;
    min-height: 200px;
    width: 400px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    opacity: 0.9;
    margin-top: 10px;
}

#total{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-size: 30px;
    justify-content:space-around;
    padding-top: 15px;
}

#payment_button{
    position: relative;
    top:90px;
}